*
{
    margin: 0;
    padding: 0;
    
}

a{
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 9px;
    


}

.video{
margin-top: 40px;
margin-left: 10vw;

}

.logo{
    margin-top: 10px;

}


body{
    font-family: Lucida Sans Unicode;
    background-color: beige;
    background-image:url("/img/pic1.jpg") ;
    background-position: center center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
  }



.links {
    background-position: center;
      margin-left: 10vw;
    display: table;
    margin-top: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7.5px;
    font-size: 25px;



}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10vw;
  height: 75%;
  width: 75%;
}
@media only screen and (max-width: 750px) {
    .links{
        font-size: 14px;
        margin-left: 2px;
        padding-top: 0.5px;
        padding-bottom: 0.5px;
        text-align: center; 
        
        margin-top: 5px;

    }  
    
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: left;
      }
    .logo img{
    width: 75px;
        height:auto;
    float: right;
    border-radius: 5px;
    margin-right: 3vw; }
    
    a{
        margin-left: 2px;
        margin-right: 2px;
    }
    .videowrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }
    
    .videowrapper iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 10vw;
      height: 75%;
      width: 75%;
    } 

}



.logo img
{
    width: 150px;
        height:auto;
    float: right;
    border-radius: 5px;
    margin-right: 3vw;
}

.background
{ 
    color: aqua;
}

a:link{
  color: beige;
  
}

a:visited{
  color: beige;
  
}

a:hover{
  color: beige;
  
}


