/* Styles for Contact us */

*
{
    margin: 0;
    padding: 0;
    
}

a{
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 9px;
    


}

.logo{
    margin-top: 10px;

}


body{
    font-family: Lucida Sans Unicode;
    background-color: beige;
    background-image: url("pic1.jpg");
    background-position: center center;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
    
    
    
    
    
}

header
{
    
    background-size: cover;
    
    
    
}

.links {
    background-position: center;
    margin-left: 10vw;
    display: table;
    margin-top: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 7.5px;
    font-size: 25px;



}

.logo img
{
    width: 150px;
        height:auto;
    float: right;
    border-radius: 5px;
    margin-right: 3vw;
}
.body
{
    font-family: monospace;
}




h1
{
   
    color: whitesmoke;
    text-align: center;
    margin-top: 1vw;
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 45px;
    margin-left: 10vw;
    width: 575px;
    display: table;

}



h2{
   
    color: whitesmoke; 

    text-align: center;
    margin-top: 5vw;
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 16px;
    margin-left: 5vw;
    width: 900px;
    

}

.callus
{
    background-color: rgba(77, 146, 255, 0.7);
    color:whitesmoke;
    text-align: center;
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 25px;
    margin-left: 10vw;
    width: 575px;
    display: table;  

}

.emailus 
{
    background-color: rgba(77, 146, 255, 0.7);
    color: whitesmoke;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 1px;
    font-size: 25px;
    margin-left: 10vw;
    width: 575px;
    display: table;  

}



a:link{
    color: beige;
    
}

a:visited{
    color: beige;
    
}

a:hover{
    color: dimgray;
    
}

@media only screen and (max-width: 750px) {
    .links{
        font-size: 10px;
        margin-left: 2px;
        padding-top: 0.5px;
        padding-bottom: 0.5px;
        text-align: center; 
        
        margin-top: 5px;

    }   
    .logo img{
    width: 75px;
        height:auto;
    float: right;
    border-radius: 5px;
    margin-right: 3vw; }
    h1 {
        font-size: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        max-width: 300px;
        margin-left: 2px;
        width: 575px;
    }
    a{
        margin-left: 2px;
        margin-right: 2px;
    }
    

}

h3
    {
        
        color: whitesmoke; 
    background-color: turquoise;
        text-align: center;
        margin-top: 5vw;
        border-radius: 15px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 16px;
        margin-left: 5vw;
        width: 900px;
        
    
    }